<% this.adminPage = 'other'; %>
<% include admin_header %>
<form method="post" class="ui form">
  <p><button class="ui blue labeled icon button" name="type" value="reset_count" type="submit"><i class="ui repeat icon"></i>重新計算送出及 AC 數</button></p>
  <p><button class="ui blue labeled icon button" name="type" value="reset_discussion" type="submit"><i class="ui repeat icon"></i>重新計算討論版回覆數和回覆時間</button></p>
  <p><button class="ui blue labeled icon button" name="type" value="reset_codelen" type="submit"><i class="ui repeat icon"></i>重新計算送出程式碼長度</button></p>
</form>
<% include admin_footer %>
