<% this.title = '幫助' %>
<% include header %>
<div class="padding">
    <h1 class="ui center aligned header">幫助</h1>
    <div style="font-content">
        <h2 class="ui header">評測</h2>
        <p>
            C++ 使用 <code>clang++</code> 或 <code>g++</code> 編譯，命令形如 &nbsp;<code>clang++/g++ source_file.cpp -o exec_file -O2 -lm -DONLINE_JUDGE -mx32 -std=c++03</code>（對於 C++ 11 和 C++ 17，替換命令中的 <code>-std=</code> 參數）；
            <br> C 使用 <code>clang</code> 編譯，命令為 &nbsp;<code>clang source_file.c -o exec_file -O2 -lm -DONLINE_JUDGE -mx32</code>；
            <br> Pascal 使用 <code>fpc</code> 編譯，命令為 &nbsp;<code>fpc source_file.pas -O2</code>。
            <br> Java 編譯時會自動檢查您的程式碼中 <code>public class</code>，如果您的程式碼中沒有 <code>public class</code>，請將進入類別命名為 <code>Main</code>。
            <br> C# 使用 Mono 平台的編譯器與執行環境。
            <br>
        </p>
        <p>請根據題目中的說明選擇使用<strong>標準輸入輸出</strong>或<strong>檔案輸入輸出</strong>。</p>

        <h2 class="ui header">個人資料<br></h2>
        <p>本網站不提供大頭貼儲存服務，而是使用 Gravatar 頭像顯示。請使用信箱註冊 <a href="https://zh-tw.wordpress.com/">WordPress.com</a>，登入 <a href="https://zh-tw.gravatar.com/">Gravatar</a> 並上傳大頭貼。同樣使用 Gravatar 的 OJ 有 Vijos、COGS、UOJ 等。</p>
        <p>個性簽名可以使用 Markdown 與 HTML，請不要在裡面加入惡意程式碼。</p>
        <h2 class="ui header">新增題目</h2>
        <h3 class="ui header">題面</h3>
        <p>在<a href="/problem/0/edit">新增題目頁面</a>填寫題面，題目內容使用 Markdown 與 TeX 公式。</p>
        <h3 class="ui header">測試資料</h3>
<p>加入的題目請使用新的 <code>data.yml</code> 設定檔案。關於 YAML，詳見 <a href="https://zh.wikipedia.org/wiki/YAML">YAML 的 Wikipedia</a>。</p>
<p>對於傳統和提交答案題目，<code>data.yml</code> 是可選的，系統會自動識別您的壓縮檔，將每個 <code>.in</code> 檔案對應到 <code>.out</code> 或 <code>.ans</code> 檔案，並將 <code>spj_</code> 開頭的檔案作為 Special Judge（詳見下文的「Special Judge」）。</p>
<h4>傳統</h4>
<p>對於傳統題目，<code>data.yml</code> 的格式如下：</p>
<div class="ui existing segment"><pre style="margin-top: 0; margin-bottom: 0; "><code class="lang-yaml"><span class="pl-l-Scalar-Plain">subtasks</span><span class="pl-p-Indicator">:</span>
  <span class="pl-p-Indicator">-</span> <span class="pl-l-Scalar-Plain">score</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">30</span>              <span class="pl-c1"># 這個子問題的分數（注意，所有子問題的總分必須為 100）</span>
    <span class="pl-l-Scalar-Plain">type</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">sum</span>              <span class="pl-c1"># 子問題類型，可選的值有 sum、min 和 mul.</span>
    <span class="pl-l-Scalar-Plain">cases</span><span class="pl-p-Indicator">:</span> <span class="pl-p-Indicator">[</span><span class="pl-nv">1</span><span class="pl-p-Indicator">,</span> <span class="pl-nv">2</span><span class="pl-p-Indicator">,</span> <span class="pl-nv">3</span><span class="pl-p-Indicator">]</span>       <span class="pl-c1"># 測試點編號可以是數字</span>
  <span class="pl-p-Indicator">-</span> <span class="pl-l-Scalar-Plain">score</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">30</span>              <span class="pl-c1"># 另一個子問題</span>
    <span class="pl-l-Scalar-Plain">type</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">mul</span>
    <span class="pl-l-Scalar-Plain">cases</span><span class="pl-p-Indicator">:</span> <span class="pl-p-Indicator">[</span><span class="pl-s">'4'</span><span class="pl-p-Indicator">,</span> <span class="pl-s">'5'</span><span class="pl-p-Indicator">,</span> <span class="pl-s">'6'</span><span class="pl-p-Indicator">]</span> <span class="pl-c1"># 測試點編號也可以是字串</span>

<span class="pl-l-Scalar-Plain">inputFile</span><span class="pl-p-Indicator">:</span> <span class="pl-s">'dat#.in'</span>   <span class="pl-c1"># 測試資料包中的輸入檔案</span>
<span class="pl-l-Scalar-Plain">outputFile</span><span class="pl-p-Indicator">:</span> <span class="pl-s">'dat#.ans'</span> <span class="pl-c1"># 測試資料包中的輸出檔案</span>
<span class="pl-c1"># 上述檔案名中的 # 字串將被替換成測試點編號</span>

<span class="pl-c1"># 可選 - Special Judge</span>
<span class="pl-l-Scalar-Plain">specialJudge</span><span class="pl-p-Indicator">:</span>
  <span class="pl-l-Scalar-Plain">language</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">cpp</span>
  <span class="pl-l-Scalar-Plain">fileName</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">spj.cpp</span>

<span class="pl-c1"># 可選 - 附加標頭檔</span>
<span class="pl-c1"># 例如，給選手提供一個 C++ 標頭檔，選手可以引用它，使用您提供的程式碼。</span>
<span class="pl-c1"># 常用於封装互動库</span>
<span class="pl-l-Scalar-Plain">extraSourceFiles</span><span class="pl-p-Indicator">:</span>
  <span class="pl-p-Indicator">-</span> <span class="pl-l-Scalar-Plain">language</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">cpp</span>
    <span class="pl-l-Scalar-Plain">files</span><span class="pl-p-Indicator">:</span> <span class="pl-c1"># 這是一個陣列</span>
     <span class="pl-p-Indicator">-</span> <span class="pl-l-Scalar-Plain">name</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">itlib_cpp.h</span>     <span class="pl-c1"># 資料包中的檔案名</span>
       <span class="pl-l-Scalar-Plain">dest</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">interaction.h</span>   <span class="pl-c1"># 目標檔案名，在編譯時被放置在與選手程式的同一目錄下</span>
  <span class="pl-p-Indicator">-</span> <span class="pl-l-Scalar-Plain">language</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">c</span> <span class="pl-c1"># 給不同的語言提供不同的附加標頭檔</span>
    <span class="pl-l-Scalar-Plain">files</span><span class="pl-p-Indicator">:</span>
      <span class="pl-p-Indicator">-</span> <span class="pl-l-Scalar-Plain">name</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">itlib_c.h</span>
        <span class="pl-l-Scalar-Plain">dest</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">interaction.h</span>
</code></pre></div>
<h4>提交答案</h4>
<p>對於提交答案題目，<code>inputFile</code> 和 <code>outputFile</code> 可以省略，用 <code>userOutput</code> 表示使用者提交的答案檔案名。</p>
<div class="ui existing segment"><pre style="margin-top: 0; margin-bottom: 0; "><code class="lang-yaml"><span class="pl-l-Scalar-Plain">userOutput</span><span class="pl-p-Indicator">:</span> <span class="pl-s">'dat#.out'</span>
</code></pre></div>
<h4>互動</h4>
<p>對於互動題目，需要加入以下內容：</p>
<div class="ui existing segment"><pre style="margin-top: 0; margin-bottom: 0; "><code class="lang-yaml"><span class="pl-c1"># 互動器</span>
<span class="pl-l-Scalar-Plain">interactor</span><span class="pl-p-Indicator">:</span>
  <span class="pl-l-Scalar-Plain">language</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">cpp</span>
  <span class="pl-l-Scalar-Plain">fileName</span><span class="pl-p-Indicator">:</span> <span class="pl-l-Scalar-Plain">interactor.cpp</span>
</code></pre></div>
<p>互動器和選手程式同時執行，互動器的標準輸入和標準輸出連接了選手程式的標準輸出和標準輸入 —— 互動透過輸入輸出進行。</p>
<p>互動器執行時，目錄下會有 <code>input</code> 文件，表示該測試點的輸入檔案。互動器執行結束後，需要將選手得分寫入 <code>score.txt</code> 檔案中，並將提供給使用者的額外訊息輸出到標準錯誤輸出（<code>stderr</code>）中。</p>
<p>如果您希望實作 NOI 試題風格的互動（選手透過函數使用與互動器互動），請撰寫一些標頭檔作為「附加標頭檔」並封裝標準輸入輸出的互動。</p>
<h4>子問題</h4>
<p>子問題是一組測試點的集合，一個子問題的分數由其包含的測試點的分數計算而來，具體的計算方式根據子問題類型而定：</p>
<ul>
<li><code>sum</code>：測試點分數按照百分比增加；</li>
<li><code>mul</code>：測試點分數按照百分比相乘；</li>
<li><code>min</code>：取各個測試點最低分。</li>
</ul>
<h4>Special Judge</h4>
<p>Special Judge 用於<strong>傳統</strong>或<strong>提交答案</strong>題目。</p>
<p>如果您沒有撰寫 <code>data.yml</code>，請在資料包中加入 <code>spj_LANG.xxx</code>，其中 <code>xxx</code> 為任意副檔名，<code>LANG</code> 為所用語言的簡稱。</p>
<p>Special Judge 程式執行時，目錄下會有四個檔案 <code>input</code>、<code>user_out</code>、<code>answer</code>、<code>code</code>，分別對應該測試點的輸入檔案、使用者輸出、該測試點的輸出檔案、使用者的程式碼（對於非提交答案題目）。</p>
<p>Special Judge 程式執行完成後，應將該測試點的得分輸出到標準輸出（<code>stdout</code>）中（範圍為 <code>0</code> 到 <code>100</code>，將自動折合為測試點分數），並將提供給使用者的額外訊息輸出到標準錯誤輸出（<code>stderr</code>）中。</p>
<h4>語言簡稱</h4>
<p>設定資料時，描述 Special Judge 或互動的語言時使用語言的簡稱，它們是 <code>c</code>、<code>cpp</code>、<code>cpp11</code>、<code>cpp17</code>、<code>cpp11-clang</code>、<code>cpp17-clang</code>、<code>csharp</code>、<code>haskell</code>、<code>java</code>、<code>nodejs</code>、<code>pascal</code>、<code>python2</code>、<code>python3</code>、<code>ruby</code>。</p>
    </div>
</div>
<% include footer %>
