<% this.title = '匯入題目'; %>
<% include header %>
<div class="padding">
  <div style="margin-bottom: 30px; ">
    <h1 style="margin-bottom: 10px; ">匯入題目</h1>
    從另一個運作 SYZOJ 的網站匯入題目。
  </div>

  <form class="ui form" action="<%= syzoj.utils.makeUrl(['problem', problem.id, 'import']) %>" method="post">
      <% if (problem.allowedManage) { %>
          <div class="field">
              <label>題目編號</label>
              <input type="text" name="id" value="<%= problem.id ? problem.id : '' %>" placeholder="留空則自動增加" <%= problem.new ? '' : 'disabled' %>>
          </div>
      <% } %>
      <div class="field">
          <label>題目連結</label>
          <input type="text" name="url" placeholder="如：http://example.com/problem/1">
      </div>
      <div style="text-align: center; ">
      <button type="submit" class="ui labeled submit icon button">
        <i class="icon edit"></i> 送出
      </button>
      </div>
  </form>
<% include footer %>
