<% this.title = '註冊' %>
<% include header %>
<div class="padding">
  <h1>註冊</h1>
  <div class="ui error message" id="error" data-am-alert hidden>
    <p id="error_info"></p>
  </div>
          <form class="ui form">
                <div class="field">
                    <label for="username">使用者名稱</label>
                    <input type="text" placeholder="" id="username">
                </div>
                <div class="field">
                    <label for="email">信箱</label>
                    <input type="email" placeholder="" id="email">
                </div>
                <div class="two fields">
                    <div class="field">
                    <label class="ui header">密碼</label>
                      <input type="password" placeholder="" id="password1">
                    </div>
                    <div class="field">
                      <label class="ui header">確認密碼</label>
                      <input type="password" placeholder="" id="password2">
                    </div>
                </div>
                <a id="sign_up" class="ui button" href="javascript:submit();">註冊</a>
            </form>
</div>
<script src="<%- lib('blueimp-md5/2.10.0/js/md5.min.js') %>"></script>
<script type="text/javascript">
function show_error(error) {
    $("#error_info").text(error);
    $("#error").show();
}

function success() {
    alert("註冊成功！");
    window.location.href = location.protocol + '//' + location.host + <%- serializejs(req.query.url || '/') %>;
}

function mail_required() {
    alert("註冊確認信件已經寄到您的信箱的垃圾箱，點擊信件內的連結即可完成註冊。");
    var s = $("#email").val();
    var mailWebsite = 'https://mail.' + s.substring(s.indexOf('@') + 1, s.length);
    if (mailWebsite === 'https://mail.gmail.com') mailWebsite = 'https://mail.google.com';
    window.location.href = mailWebsite;
}

function submit() {
    if ($("#password1").val() != $("#password2").val()) {
        show_error("兩次輸入的密碼不一樣");
        return;
    }
    password = md5($("#password1").val() + "syzoj2_xxx")
    $("#sign_up").addClass("loading");
    $.ajax({
        url: '/api/sign_up',
        type: 'POST',
        async: true,
        data: {
          username: $("#username").val(),
          password: password,
          email: $("#email").val(),
          prevUrl: <%- serializejs(req.query.url || '/') %>
        },
        success: function(data) {
            error_code = data.error_code;
            switch(error_code){
                case 2001:
                    show_error("伺服器未收到資料");
                    break;
                case 2005:
                case 2002:
                    show_error("使用者名稱需要大於 3 個字元小於 16 個字元，僅允許英文數字和底線");
                    break;
                case 2007:
                case 2003:
                    show_error("密碼不能為空");
                    break;
                case 2004:
                case 2006:
                    show_error("請輸入正確的信箱");
                    break;
                case 2008:
                    show_error("已經有人用這個使用者名稱了");
                    break;
                case 2009:
                    show_error("信箱地址已被使用");
                    break;
                case 2010:
                    show_error("驗證信件發送失敗：\n" + data.message);
                    break;
                case 1:
                    success();
                    break;
                case 2:
                    mail_required();
                    break;
                default:
                    show_error("未知錯誤：" + JSON.stringify(data));
                    break;
            }
            $("#sign_up").removeClass("loading");
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
            alert(XMLHttpRequest.responseText);
            show_error("未知錯誤");
            $("#sign_up").removeClass("loading");
        }
    });
}
</script>
<% include footer %>
